<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login BizTech</title>
  <link rel="stylesheet" href="signup.component.css">

</head>
<body>
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form>
  <h3>Sign Up BizTech VII</h3>

  <label for="username"> Username</label>
  <input type="text" placeholder=" Username" id="username">

  <label for="username">Email</label>
  <input type="email" placeholder="Email" id="username">


  <label for="password">Password</label>
  <input type="password" placeholder="Password" id="password">

  <button>Sign Up</button>
  <br><br>
  <p>Already Have An Account? <a href="login.component.html"> Login Here</a></p>

</form>
</body>
</html>
