<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
<nav class="navMenu">
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Team</a>
  <a href="#">Contact</a>
  <div class="dot"></div>
</nav>

<div class="Main-Div">
  <div class="img1-div">
    <h2>View Temperature Fluctuations</h2>
    <img src="heatwave.jpeg" class="img-1">
    <p>Stay Updated on the temperature fluctuations of the solar panel modules</p>
  </div>
  <div class="img2-div">
    <h2>Temperature Prediction</h2>
    <img src="heatwave.jpeg" class="img-1">
    <p>Digital facility to place a complaint about possible temperature spikes</p>
  </div>
</div>


<footer class="footer-distributed">

  <div class="footer-left">

    <h3>BizTech<span> VII</span></h3>

    <p class="footer-links">
      <a href="#" class="link-1">Home</a>

      <a href="login.component.html">About</a>

      <a href="#">Team</a>

      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">BizTech Vii © 2015</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Ramakrishna RD</span> Wellavatte, Colombo 7</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+94 70 678 4567</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">BizTechVii@Hotmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      More than 20 years of experience at the forefront of the industry developing wind farms in Australia. We have been involved in more than 100 advanced and operational wind farms with projects totalling greater than 20 000 MW in India, South Africa, Sri Lanka, New Zealand and the Pacific.
    </p>


  </div>

</footer>

</body>
</html>
